*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@font-face {
    font-family: botname;
    src: url(../font/botname.ttf);
}
@font-face {
    font-family: title;
    src: url(../font/titles.ttf);
}
body{
    background-color: black;
}
.container{
    background-image: url(../background/errorback.png);
    background-position: center center;
    background-repeat: no-repeat; background-size: cover;
    height: 100vh;
}
.navbar{
   display: flex;
   justify-content: center;
}
.navbar .logo{
    margin: 20px;
}
.logo img{
    height: 80px;
    width: 80px;
}
.titles{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-align: center;
}
.titles h1{
    font-family: title;
    font-size: 50px;
    color: aliceblue;

}
.titles h2{
    margin-top: 10px;
    font-size: 22px;
    color: aliceblue;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);    
}
.bottom p{
    
    color: aliceblue;
    padding: 20px 20px;
    font-size: 20px;
}
.bottom span{
    font-family: botname;
    font-size: 25px;
}
@media (min-width: 320px) and (max-width: 999px) {
     
    .logo img{
       height: 60px;
       width: 60px;
    }
     .titles{
        top: 40%;
        width: 300px;
     }
     .titles h1{
        font-size: 35px;
     }
     .titles h2{
        font-size: 15px;
     }
     .bottom p{
        font-size: 17px;
     }
     .bottom span{
        font-size: 20px;
     }
  }