@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    text-align: center;
    height: 100vh;
}
.content{
    margin-top: 260px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.context .time{
    text-align: center;
    justify-content: center;
    display: flex;
}
.time div{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    color: black;
    padding: 15px 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    border-radius: 30px;
    font-size: 35px;
    margin-bottom: 70px;
}
.time span{
    font-size: 20px;
}
.content h2{
    margin-top: 20px;
    font-size: 20px;
}
.content h1{
    color: #000000;
    font-size: 30px;
    padding-top: 60px;
}
.area{
    background: #ffffff;  
    background: -webkit-linear-gradient(to left, #ffffff, #ffffff);  
    width: 100%;
    height:100vh;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(192, 192, 192);
    animation: animate 25s linear infinite;
    bottom: -150px; 
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


@media (min-width: 320px) and (max-width: 1400px) {
    .context{
        max-width: 100%;
    }
    .content{
        border-radius: 20px;
        margin-top: 250px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .content h2{
        font-size: 15px;
    }
    .context h1{
          font-size: 20px;
    }
    .time div{
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .content span{
        font-size: 13px;
    }
}